
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-weight: bold;
  margin-bottom: 0.2rem;
  text-align: center;
  color: var(--primary-color);
}

.title_section {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title_section p {
  margin: 0;
}

.fileInputContainer {
  margin-bottom: 1.5rem;
  text-align: center;
}

.fileInput {
  display: none;
}

.fileInputLabel {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var(  --primary-color);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid #808080;
  margin-bottom: 0.5rem;
  background-color: var( --button-color);
}

.fileInputLabel:hover {
  background-color: var(--button-hover-color);
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #444;
}

.formGroup select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  max-width: 300px;
}

.convertBtn {
  display: block;
  margin: 1.5rem auto;
  padding: 0.75rem 1.5rem;
  background-color: var(--button-color);
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.convertBtn:hover {
  background-color: var(--button-color);
}

.convertBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.previewSection {
  width: 100%;
  margin-bottom: 1.5rem;
}

.imageContainer {
  width: 100%;
  padding: 1rem;
  background-color: var( --card-color);
  border-radius: 8px;
  border: 1px solid #b3e0ff;
  margin-bottom: 1rem;
}

.imageWrapper {
  max-width: 100%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.previewImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.resultSection {
  margin-top: 2rem;
  text-align: center;
}

.resultImage {
  max-width: 100%;
  max-height: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.downloadBtn {
  display: block;
  margin: 1.5rem auto;
  padding: 0.75rem 1.5rem;
  background-color: #00a86b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.downloadBtn:hover {
  background-color: #008a5a;
}

.error {
  margin: 1.5rem 0;
  padding: 1rem;
  background-color: #ffebee;
  color: #c62828;
  border-radius: 4px;
  text-align: center;
}