:root {
  --font-family: Quicksand, sans-serif;
  --line-height: 1.5;
  --font-weight: 700;
  --secondary-font-weight: 300;
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #fffaf6;
  --primary-color: #002855;
  --card-color: #cfe3ff;
  --main-card-color: #85abde;
  --accent-color: #fee2d8;
  --button-color: #fcc3ad;
  --button-hover-color: #f7956d;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--primary-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}